In [408]:
import pandas as pd

In [409]:
# 元データ確認
df =  pd.read_csv("animal_rating.csv", index_col=0)
print(f"データ数: {len(df)}")
df.head()

データ数: 1000

          犬    猫  ペンギン  イルカ  パンダ
user_1  NaN  5.0   NaN  5.0  NaN
user_2  NaN  NaN   5.0  NaN  2.0
user_3  NaN  5.0   5.0  NaN  5.0
user_4  4.0  NaN   NaN  4.0  5.0
user_5  5.0  4.0   NaN  NaN  5.0

In [410]:
# データ準備
df_stacked = df.stack().to_frame().reset_index()
df_stacked.columns = ["ユーザーID", "商品ID", "rating"]
df_stacked.head()

   ユーザーID  商品ID  rating
0  user_1     猫     5.0
1  user_1   イルカ     5.0
2  user_2  ペンギン     5.0
3  user_2   パンダ     2.0
4  user_3     猫     5.0

In [411]:
from surprise import Dataset, Reader

In [412]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_stacked, reader)

In [413]:
from surprise.model_selection import train_test_split

In [414]:
# 訓練データ, テストデータに確認
train, test = train_test_split(data, test_size=0.25)

In [415]:
from surprise import SVD

In [416]:
# Singular Value Decomposition を使用
model = SVD()
model.fit(train)

In [417]:
from surprise import accuracy

In [418]:
# 評価
test_pred = model.test(test)
accuracy.rmse(test_pred)

RMSE: 1.1817

1.1817252903158242

In [419]:
# ユーザーに対する予測
user_id = "user_70"
print(f"{user_id}に対するおすすめ度")
for item_id in ["犬", "猫", "ペンギン", "イルカ", "パンダ"]:
    pred = model.predict(user_id, item_id)
    print(f"{item_id}:\t{pred.est:.2}", )

user_70に対するおすすめ度
犬:	4.4
猫:	4.1
ペンギン:	4.6
イルカ:	4.6
パンダ:	4.0